<app-navbar-nosearch></app-navbar-nosearch>
<main>
  <!--site header-->
  <header class="site-header"></header>
  <header class="site-header common-static-header">
    <div data-stellar-background-ratio="0.25" style="background-image: url('../../../assets/images/book-shelf2.png');" class="parallax-bg"></div>
  </header>
  <!--end site header-->
  <section class="no-padding">
    <!--<div class="page-about-header">-->
      <!--<div class="container text-center">-->
        <!--<h5 class="color-gray">HELLO! WE ARE</h5>-->
        <!--<h2>WOLVERINE CREATIVE</h2>-->
      <!--</div>-->
    <!--</div>-->
    <div class="page-about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12 quote">
            <div class="page-about-item">
              <img src="http://res.cloudinary.com/martin312/image/upload/c_scale,h_414,w_400/v1503415766/IMG_4943_fijwt1.jpg">
            </div>
          </div>
          <div class="col-md-5 col-sm-7 col-xs-12 pragraph">
            <div class="page-about-item">
              <h4>About Me</h4>
              <p>
                Hi, my name is Martin, I’m a book lover and a software engineer. Originally from Argentina, and currently living in Tel Aviv, Israel. <br><br>
                I heard recommendations about a certain book, but couldn’t find it in stores. I asked my friends, but they did not have it, nonetheless I still believed my desired book might be sitting in someone's shelf just waiting for me :) <br><br>
                I started to think if there is a place that I could search for a book and give for exchange one of my own.
                I love to read books but I have some books I don't read anymore and I would love other people to enjoy it for free.

                <br><br>
                This website is in Beta stage - if you encounter with any errors or have ideas for improvement, please don’t hesitate to reach out.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
