<app-navbar-nosearch></app-navbar-nosearch>
<main>
  <!--site header-->
  <header class="site-header"></header>
  <header class="site-header common-static-header">
    <div data-stellar-background-ratio="0.25" style="background-image: url('../../../assets/images/header-parallax.jpg');" class="parallax-bg"></div>
  </header>
  <!--end site header-->
  <section class="no-padding">
    <div class="page-about-header">
      <div class="container text-center">
        <h5 class="color-gray">HELLO! WE ARE</h5>
        <h2>WOLVERINE CREATIVE</h2>
      </div>
    </div>
    <div class="page-about">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-5 col-xs-12 quote">
            <div class="page-about-item">
              <img src="http://res.cloudinary.com/martin312/image/upload/c_crop,g_face,h_172,r_16,w_271,x_1668,y_1891/v1501242714/Martin_qy1akn.jpg">
            </div>
          </div>
          <div class="col-md-8 col-sm-7 col-xs-12 pragraph">
            <div class="page-about-item">
              <h4>About Me</h4>
              <p>Hey, my name is Martin Saad. The idea for this website came up a few months ago. There was a book I wanted to read but didn't have it, so I tried to see if any one of my friends might have it. After some searching with no result, I tried to see if there are some fb groups to swap books.
                I mean, I have some books I don't read anymore, so I guess my desired book might be sitting in someone's shelf and we could exchange.
                Eventually a friend gave my the book but it was harsh.<br/><br/> The perpuse of bookswap is to allow people to exchange and swap books for FREE. I believe there is no reason why we shouldn't help each other with books we already read and they are just sitting in the shelf.</p>
              <p>If you have any ideas to add or improve the website don't hasitate to share.
              Also, the website is an MVP and it's not perfect :) If you see any bugs, please share: martin.saad.ms@gmail.com </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
