<app-navbar-nosearch></app-navbar-nosearch>
<main>
  <section class="one-child page-under-construction-3-wrapper">
    <div data-stellar-background-ratio="0.25" style="background-image: url('../../../assets/images/books header.jpeg');" class="page-common-background"></div>
    <div class="page-rigsiter-wrapper">
      <div class="page-rigsiter">
        <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit()">
          <h3> REGSITER NOW!</h3>
          <h5 class="error-message" *ngIf="passConfirm">Password don't match</h5>
          <h5 class="error-message" *ngIf="error">Something went wrong. Please try again later</h5>
          <div class="name">
            <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" placeholder="First name" required #fname="ngModel">
            <div *ngIf="fname.errors && (fname.dirty || fname.touched)"
                 class="alert alert-danger">
              <div [hidden]="!fname.errors.required">
                First name is required
              </div>
            </div>

            <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" placeholder="Last name" required #lname="ngModel">
            <div *ngIf="lname.errors && (lname.dirty || lname.touched)"
                 class="alert alert-danger">
              <div [hidden]="!lname.errors.required">
                Last name is required
              </div>
            </div>

          </div>

          <input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required #email1="ngModel">
          <div *ngIf="email1.errors && (email1.dirty || email1.touched)"
               class="alert alert-danger">
            <div [hidden]="!email1.errors.required">
              Email Address is required
            </div>
          </div>

          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required #pass1="ngModel">
          <div *ngIf="pass1.errors && (pass1.dirty || pass1.touched)"
               class="alert alert-danger">
            <div [hidden]="!pass1.errors.required">
              Password is required
            </div>
          </div>

          <input type="password" placeholder="Confirm your password" [(ngModel)]="passwordConfirm" name="passwordConfirm" required #pass2="ngModel">
          <div *ngIf="pass2.errors && (pass2.dirty || pass2.touched)"
               class="alert alert-danger">
            <div [hidden]="!pass2.errors.required">
              Password confirmation is required
            </div>
          </div>
          <span>By clicking “Create Account” you agree to the terms and conditions of the following:<a href="#">Universal Terms of Service</a>&nbsp;&nbsp;<a href="#">Privacy Policy</a></span>
          <div class="button"><button type="submit" class="normal-btn normal-btn-main btn-size-5" [disabled]="!registerForm.form.valid">CREATE ACCOUNT</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
