<app-navbar></app-navbar>

<main>
  <header class="index-header">
    <div data-stellar-background-ratio="0.25" style="background-image: url(../../../assets/images/home.jpg);" class="page-common-background"></div>
    <div class="cell-vertical-wrapper">
      <div class="cell-middle">
        <div class="container">
          <h1>Expand your knowledge & imagination</h1>
          <h2>Swap books for FREE with people around the world</h2>
        </div>
      </div>
    </div>
  </header>
  <section class="bgc-gray">
    <div class="container-fluid">
      <div *ngIf="books == null">
        <h3>No books match to search...</h3>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let book of books">
        <div class="index-demo-item section-block-p">
          <div class="image-frame">
            <a [routerLink]="['/book']" [queryParams]="{id: book._id}">
              <img src="{{book?.imageLink}}" alt="{{book?.title}}" class="img-center">
            </a>
          </div>
          <h5>
            <a [routerLink]="['/book']" [queryParams]="{id: book._id}">
              {{book?.title}}
            </a>
          </h5>
          <h5>
          <img src="../../../assets/images/svg/placeholder.svg" class="map">
            {{book?.city}}, {{book?.country}}
          </h5>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
