<!--<nav class="navbar navbar-default">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">MEAN Auth App</a>-->
    <!--</div>-->
    <!--<div id="navbar" class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav navbar-left">-->
        <!--<li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/']">Home</a></li>-->
      <!--</ul>-->

      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/profile']">Profile</a></li>-->

        <!--<li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']">Login</a></li>-->
        <!--<li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/register']">Register</a></li>-->
        <!--<li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="#">Logout</a></li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
  <!--</div>-->
<!--</nav>-->



<!--new template-->
<div class="main-nav-wrapper nav-wrapper-1-landingpage">
  <nav>
    <div class="main-nav main-nav-1 landing-page">
      <div class="container">
        <div class="nav-logo"><a href="/"><img src="assets/images/logo-10-white.svg" alt="Wolverine"></a></div>
        <div class="nav-logo logo-2"><a href="/"><img src="assets/images/logo-9.svg" alt="Wolverine" class="logo-2"></a></div>
        <div class="nav-top-search"><a href="#" class="search-trigger-show"></a></div>
        <ul class="nav-main-menu">

          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/profile">My books</a>
          </li>

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions] = "{exact:true}"><a href="/register">Register</a></li>

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions] = "{exact:true}"><a href="/login">Login</a></li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/about">About</a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/how-it-works">How it works</a>
          </li>

          <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="/">Logout</a></li>
        </ul>
        <ul class="nav-main-menu small-screen">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/profile">My books</a>
          </li>

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions] = "{exact:true}"><a href="/register">Register</a></li>

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
              [routerLinkActiveOptions] = "{exact:true}"><a href="/login">Login</a></li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/about">About</a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a href="/how-it-works">How it works</a>
          </li>

          <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()" href="/">Logout</a></li>
        </ul>
        <div class="nav-hamburger-wrapper">
          <div class="cell-vertical-wrapper">
            <div class="cell-middle">
              <div class="nav-hamburger"><span></span></div>
            </div>
          </div>
        </div>
      </div>
      <form class="nav-search-form">
        <div class="content-wrapper"><img src="../../../assets/images/logo-5-white.svg" alt="logo" class="logo-light"><img src="../../../assets/images/logo-5.svg" alt="logo" class="logo-dark">
          <div class="content">
            <input #bookSearch type="search" name="search" placeholder="Search a book title..." class="form-control">
            <button (click)="search(bookSearch.value)">SEARCH</button>
          </div><a href="#" class="search-trigger-hide"></a>
        </div>
      </form>
    </div>
  </nav>
</div>
