<app-navbar-nosearch></app-navbar-nosearch>
<main>
  <!--site header-->
  <header class="site-header"></header>
  <header class="site-header common-static-header">
    <div data-stellar-background-ratio="0.25" style="background-image: url('../../../assets/images/book-shelf2.png');" class="parallax-bg"></div>
  </header>
  <!--end site header-->
  <section class="no-padding">
    <div class="page-about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12 pragraph">
            <div class="page-about-item">
              <h4>How does it work?</h4>
              <p>
                It's easy.<br><br>

                <b>What should I do first?</b><br>
                First, you choose a book you want.<br><br>

                <b>Found one- now what?</b><br>

                Just click on the button "get the book" and an automated email will be sent in your behalf to the book owner
                The book owner will contact you back – straight to your email and you can proceed from there, arrange to meet or he will sent you the book- your choice.<br><br>

                <b>How much does it cost?</b><br>
                NOTHING- the BookSwap is completely FREE<br><br>

                <b>Why?</b><br>
                So as many people can make the most of their books and reach books around the world.<br><br>

                <b>Wow sounds amazing! How can I contribute to BookSwap?</b><br>

                Glad you asked 😊 In order to make BookSwap possible and valuable we need as many books to be shared on this platform so please- add some books you don’t read anymore and share the idea and the website with your friends.
              </p>
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
