<app-navbar-nosearch></app-navbar-nosearch>
<main>
  <!--site header-->
  <header class="site-header"></header>
  <header class="site-header common-static-header">
    <div data-stellar-background-ratio="0.25" style="background-image: url('../../../assets/images/header-parallax.jpg');" class="parallax-bg"></div>
  </header>
  <!--end site header-->
  <section class="no-padding">
    <div class="page-about-header">
      <div class="container text-center">
        <h5 class="color-gray">bookswap</h5>
        <h2>FREE BOOKS FOR EVERYONE</h2>
      </div>
    </div>
    <div class="page-about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-12 pragraph">
            <div class="page-about-item">
              <h4>How it works</h4>
              <p>Bookswap is free and for the community. Just look for a book you like, enter to the book's page and click on "get this book", which will send an email to the book owner.<br/><br/> In order to make swap possible, please enter your books that you will be happy to give away.</p>
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
